#header
    width: inherit
    background-color: rgba(#fff,.7)
    padding: 9px 0
    border-bottom: 3px solid #107c4a
 .contact_info
     float: right
     overflow: hidden
     padding-top: 25px

.schedule,
.phones,
.soc_groups
    float: left 
    width: 168px
    margin-left: 75px
    position relative
    .fa
        color: #ffffff
        background-color: green
        border-radius: 10px
        font-size: 24px
        padding: 8px 0
        text-align: center
        width: 40px;
        position absolute
        top: 10px
        left: -47px
.soc_groups a
    text-decoration: underline
.content
    width 75%
    float: left
    strong
        display block
        font-size: 16px;
        font-family: "RobotoBold", sans-serif;
        color: #6a6d6c
        text-align: left;
        padding-bottom: 7px
        border-bottom: 1px dashed #107c4a
        margin-bottom: 6px
    span
        display: block
        font-size: 14px;
        font-family: "RobotoMedium", sans-serif;
        color: #6a6d6c
        text-align: left;
        a
            color: #6a6d6c
