@media screen and (max-width: 1366px)
	.up
		right: 10px
@media screen and (max-width: 1199px)
	#logo
		img
			width 20%
	.up
		right: 10px
	main
		width: 70%
@media screen and (max-width: 991px)
	.contact_info
		padding-top: 5px
	.phones, .schedule, .soc_groups
		margin-left: 22px;
	.phones .fa, .schedule .fa,
	.soc_groups .fa
		position: relative;
		left: -5px;
	.content
		float: right
		strong
			padding-bottom: 4px
		span
			line-height: 1.2
			font-size: 12px
	.phones .fa, .schedule .fa,
	.soc_groups .fa
		font-size: 20px
		width: 36px;
	main
		width: 100%
		float: none

	#aside
		float: none
		display: none
		position: fixed
		top: 0;
		bottom: 0
		left: 0;
		right: 0;
		background-color: rgba(255,255,255,.97);
		width: 100%;
		overflow-y: scroll
		z-index: 9
	#menu_icon 
		display block
	.exerpt_img
		margin-right: 20px;
	#footer
		br
			display: none
	.soc_buttons
		margin-top: 10px;

@media screen and (max-width: 750px)
	#logo
		float left
		img
			width 100%
	.contact_info
		width: 369px
	.phones, .schedule, .soc_groups
		margin-left: 10px;
		width: 100%;
	.phones .fa, .schedule .fa, .soc_groups .fa
		margin-left: 45px;
		float left
	.content
		float left
		p
			overflow hidden
		span
			float: left;
			margin-right: 5px;

@media screen and (max-width: 640px)
	#header
		.container
			max-height: 150px
	#logo
		width: 150px;
		height: 150px;
		display: flex;
		align-items: center;
	.phones, .schedule, .soc_groups
		margin-bottom: 5px
		margin-left: 0
	.content strong
		font-size: 14px
		padding-bottom: 2px;
	.content span
		line-height: 1
	.exerpt_img
		margin-right: 20px;
		width: 170px;
		height: auto;


@media screen and (max-width: 560px)
	#header
		padding: 5px 0
	#logo
		height: 125px
	.phones .fa, .schedule .fa, .soc_groups .fa
		font-size: 12px;
		width: 28px;
		position: absolute
		top: 0
		left: -32px;
		margin-left: 0;
		float: none
	.content
		width: auto
	.contact_info
		overflow: visible;
		width: 275px
	.phones, .schedule, .soc_groups
		margin-bottom: 5px;
		margin-left: 0;
	.content 
		p
			overflow: visible
			margin-bottom: 5px;
			line-height: 1;
		strong
			padding: 0;
			border: 0;
			display: block;
			margin: 0;
		span
			float: none;
			display: inline;
	#single_nav a
		float: none
		display: block
		margin: 10px auto
	#single_nav a:last-child
		float: none
@media screen and (max-width: 490px)
	#header .container
		max-height: none
	#logo
		width 30%
		img
			width 100%
	.phones .fa, .schedule .fa, .soc_groups .fa
		display: none
	#breadcrumbs
		padding-bottom: 25px;
	main
		h1
			margin-bottom: 25px;
@media screen and (max-width: 425px)
	#logo
		width: 120px;
		margin: 0 auto;
		float: none;
		display: block;
		height: auto
	.contact_info
		margin 0 auto
		float: none
		width: 310px
	.phones .fa, .schedule .fa, .soc_groups .fa
		display: block
		position: static;
		float: left;
		margin: 2px 5px 0 0;
	#footer h5
	#footer p
		font-size: 12px
	#footer .col-md-4:nth-child(2) p
		text-transform: initial
@media screen and (max-width: 360px)
	.phones .fa, .schedule .fa, .soc_groups .fa
		display: none
	.contact_info
		width 100%
	article .article_img
		max-width: 100%
	article .article_img.right
		float: none
		margin 10px 0
		clear both
	.exerpt_img
		width: 100px;
	#single_nav a
		font-size: 14px;
		width: 210px;
		height: 45px;
	.soc_buttons a:nth-child(2)
		margin: 0 15px;