main#category
    p Это страница-шаблон
    h1 Лечебный массаж
    article#category_article(data-height="280")
        h3 Лечебный массаж в Тюмени
        img.article_img.right(src="img/massage_article_1.jpg", alt="Лечебный массаж в Тюмени")
        p Лечебный – массаж, восстанавливающий красоту и здоровье. Этот метод лечения возник еще в древние времена. Само слово «массаж» в переводе с греческого значит «поглощать», «мять». Упоминания о таком способе лечения известны еще в Китае (3000 лет до нашей эры). Затем направление стало активно использоваться в Японии, Риме, Индии и других государствах. Благодаря навыкам, полученным предками, мы имеем множество описаний относительно правильности проведения процедуры. В нашей стране популяризацией методики в XVIII веке занимался М. Я. Мудров. Его поддержали в свое время и другие специалисты: И. М. Саркизов-Серазини, А. Ф. Вербов, А. Е. Щербак.
        h4 Лечебный массаж для детей
        p Нет такой народности в мире, которая бы не применяла массажные процедуры. Они подразумевают натуральные и понятные движения, поэтому могут выполняться даже необученным лицом. Лечебный массаж для детей уже давно стал естественным дополнением комплекса действий по оздоровлению малышей.
        p Статистика свидетельствует, что простое ежедневное поглаживание влияет на обмен веществ. Так, в одной группе недоношенных детей такую процедуру проводили в течение 45 минут, в другой группе подобные действия не проводились. При этом потребление калорий в каждой было одинаковым. Уже через десять дней взвешивание показало, что дети из второй группы на 47% легче, чем в первой, то есть последние активнее набирали массу.
        h4 Особенности проведения массажа
        img.article_img.left(src="img/massage_article_2.jpg", alt="Лечебный массаж в Тюмени")
        p Методы лечебного массажа спины и других частей тела требуют индивидуального подхода. Многое определяется состоянием человека, наличием у него заболеваний. Если имеется дискомфорт или боли в мышцах, потребуется один лечебный массаж. В иных случаях метод применяется совместно с проведением лимфодренажа, внут¬ритканевой электростимуляции, мануальной терапии. Процедуры назначаются с учетом диагноза, состояния, показаний и противопоказаний.
        p Массаж позволяет устранить недостатки фигуры и нарушения осанки. В нашей клинике выполняется скульптурирующий лечебный массаж в Тюмени. Эта инновационная методика коррекции фигуры является за¬патентованной техникой ма¬нуальных воздействий в нашей стране. Успешная регистрация выполнена в 2001 году. Также методика прошла сертификацию в Европейской федерации массажа и ароматерапии. Этот метод основан на избирательном воздействии на определенные участки тела. Он способствует их коррекции и укреплению разных мышечных групп, учитывая индивидуальные физиологические особенности.
        p Скульптурирующий массаж – отличная замена пластической хирургии:
        ul
            li отсутствие боли и травм;
            li хороший эффект;
            li формирование фигуры по запланированной модели;
            li сохранение эластичности и гладкости кожи.
        p Зачастую массажная коррекция фигуры воспринимается как процедура, которая приводит к синякам и кожным воспалениям. Благодаря скульптурирующему лечебному массажу по выгодной цене вы получаете приятное воздействие, которое обладает улучшенным эффектом. Достаточно одного курса, чтобы уменьшить объемы тела приблизительно на 4 см.
        p Чтобы записаться на прием к специалисту для проведения лечебного массажа спины или другой части тела по приемлемой цене, достаточно позвонить по телефону в Тюмени: 8 (3452) 62–71–17. Мы подберем для вас оптимальную дату и время.
        p Клиника доктора Ефимова – лучшее учреждение мануальной терапии в Тюмени, по отзывам пациентов!
    .clearfix
    .article_list
        .exerpt_wrapper
            img.exerpt_img(src="img/massage_thumbnail.jpg", alt="Название статьи")
            h4.exerpt_title Название статьи
            p.exerpt_p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям....
            a.read_more(href="single.html") Читать далее
        .exerpt_wrapper
            img.exerpt_img(src="img/massage_thumbnail.jpg", alt="Название статьи")
            h4.exerpt_title Название статьи
            p.exerpt_p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям....
            a.read_more(href="single.html") Читать далее
        .exerpt_wrapper
            img.exerpt_img(src="img/massage_thumbnail.jpg", alt="Название статьи")
            h4.exerpt_title Название статьи
            p.exerpt_p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям....
            a.read_more(href="single.html") Читать далее
        .exerpt_wrapper
            img.exerpt_img(src="img/massage_thumbnail.jpg", alt="Название статьи")
            h4.exerpt_title Название статьи
            p.exerpt_p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям....
            a.read_more(href="single.html") Читать далее
        .pagination
            ul
                li
                    a.active(href="") 1
                li
                    a(href="") 2
                li
                    a(href="") 3
                li
                    a.no_hover(href="") ...
                li
                    a(href="") 8