main#single
    p Это страница-шаблон
    h1 Лечебный массаж
    article#article
        h3 Название статьи
        p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечениенашей..деятельности играет важную роль в формировании существенных финансовых и административных условий. Равным образом консультация с широким активом требуют от нас анализа дальнейших направлений развития. Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации.
        img(src="img/single_pic.jpg", alt="Лечебный массаж")
        p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечениенашей..деятельности играет важную роль в формировании существенных финансовых и административных условий. Равным образом консультация с широким активом требуют от нас анализа дальнейших направлений развития. Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации.
    #single_nav
        a(href="") 
            i.fa.fa-angle-left( aria-hidden="true") 
            |  Предыдущая статья
        a(href="") Следующая статья 
            i.fa.fa-angle-right( aria-hidden="true") 