link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
script(src="https://yastatic.net/browser-updater/v1/script.js")
script
	| var yaBrowserUpdater = new ya.browserUpdater.init({"lang": "ru", "browsers": {"yabrowser": "15.10", "chrome": "52", "ie": "10", "opera": "40", "safari": "8", "fx": "47", "iron": "35", "flock": "Infinity", "palemoon": "25", "camino": "Infinity", "maxthon": "4.5", "seamonkey": "2.3", "theme": "blue"}});
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script
	| window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')
script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js")
script(src="js/jquery.morecontent.js")
script(src="js/blog_scripts.js")