section#about_vk
    .container
        p Клиника Доктора Ефимова — место, где Вам помогут решить проблемы со здоровьем. Вы можете получить бесплатную консультацию, отправив сообщение в нашу группу ВКонтакте
        a(href="http://vk.com/klinikaefimova" target="_blank")
            i.fa.fa-vk(aria-hidden="true")