section#about_clinic
    .container
        h3 Подробное видео о нашей клинике
        .row.clinic_caption
            .col-md-4
                .video_wrapper(data-youtube="arvA5iSweZ8")
                    img(src="img/video_1.jpg", alt="Видео 1" )
            .col-md-4
                .video_wrapper(data-youtube="4s281HT6gFk")
                    img(src="img/video_2.jpg", alt="Видео 2" )
            .col-md-4
                #advantages
                    h4 Клиника доктора Ефимова
                    p.advantages_caption Наши специалисты проходили  обучение у лучших преподавателей Европы и России
                    .row#adv_cols
                        .col-md-4
                            .adv_icon.first
                            p многолетний опыт
                        .col-md-4
                            .adv_icon.second
                            p уникальная методика
                        .col-md-4
                            .adv_icon.third
                            p благодарные пациенты
