//- Ефимов мл.
.modal.fade(tabindex="-1" role="dialog")#ephimovJr
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				p Окончил ординатуру ТГМА в 1999г по специальности неврология, ординатура по мануальной терапии в ИГМИ в 2003г , ИОМ в СПб 2010г по специальности остеопатия.
				h4 Специализируется на лечении:
				ul
					li - заболевания опорно-двигательного аппарата,
					li - спортивные травмы,
					li - восстановление после переломов конечностей и позвоночника,
					li - заболевания внутренних органов.
					li - лечение суставов,
					li - черепно-мозговые травмы,
					li - остеопатическое сопровождение беременных,
					li - ранний послеродовой период,
					li - задержки развития детей,
					li - коррекция поведения,
					li - коррекция осанки,
					li - лечение ВСД,
					li - головные боли
