mixin doctors(img, name, about, about_more, certs, fancy)
	.doctor
		img(src= img, alt= name)
		h5= name
		p= about
		.more_buttons
			button.more_about(data-toggle="modal" data-target= about_more) Подробнее о враче
			a.doctors_certs(href= certs, data-fancybox= fancy) Лицензии врача

#doctors_photos
	.container
		h3 Наши врачи
		#doctors_container
			.row
				.col-md-3
					+doctors('img/ephimov_el.jpg', 'Ефимов Александр Владимирович', 'Главный врач клиники, врач высшей категории','#ephimovEl', 'img/d_c/eph_el_1.jpg', 'eph_el')
				.col-md-3
					+doctors('img/ephimov_jr.jpg', 'Ефимов Владислав Александрович', 'врач невролог, мануальный терапевт, подиатр, остеопат', '#ephimovJr', 'img/d_c/eph_jr_1.jpg', 'eph_jr')
				.col-md-3
					+doctors('img/morozov.jpg', 'Морозов Юрий Николаевич', 'Врач травматолог, мануальный терапевт, педиатр','#morozov', 'img/d_c/morozov_1.jpg', 'morozov')
				.col-md-3
					+doctors('img/postnova.jpg', 'Постнова Анжела Олеговна', 'Врач невролог', '#postnova', 'img/d_c/postnova_1.jpg', 'postnova')
			.row
				.col-md-3
					+doctors('img/kolpakova.jpg', 'Колпакова Ирина Александровна', 'врач-невролог, рефлексотерапевт','#kolpakova', 'img/d_c/kolpakova_1.jpg', 'kolpakova')
				.col-md-3
					+doctors('img/naumkin.jpg', 'Наумкин Андрей Николаевич', 'фельдшер, массажист', '#naumkin')
				.col-md-3
					+doctors('img/borisov.jpg', 'Борисов Сергей Петрович', 'Массажист', '#borisov', 'img/d_c/borisov_1.jpg', 'borisov')
		#licenses
			.row
				.col-md-6
					h3 Лицензии, 
						br 
						| регистрационные документы
					p.license_caption Мы помогаем людям с 1994 года. Все услуги осуществляются в соответствии с законодательством Российской Федерации.
					.adress
						h5 Мы находимся по адресу:
						p г.Тюмень, ул. Луначарского 18; 
							br 
							| ул. Холодильная 15 офис 3
						button.button(data-toggle="modal" data-target="#myModalForm") Записаться на прием
				.col-md-6#certs
					.row
						.col-md-6.main
							a(href="img/license_1_big.jpg" data-fancybox="images")
								img(src="img/license_1.jpg", alt="Лицензия 1")
						.col-md-6.sub
							.row.mb
								.col-md-6
									a(href="img/license_2_big.jpg" data-fancybox="images")
										img(src="img/license_2.jpg", alt="Лицензия 2")
								.col-md-6
									a(href="img/license_3_big.jpg" data-fancybox="images")
										img(src="img/license_3.jpg", alt="Лицензия 3")
							.row
								.col-md-6
									a(href="img/license_4_big.jpg" data-fancybox="images")
										img(src="img/license_4.jpg", alt="Лицензия 4")
								.col-md-6
									a(href="img/license_5_big.jpg" data-fancybox="images")
										img(src="img/license_5.jpg", alt="Лицензия 5")