//- Ефимов ст.
.modal.fade(tabindex="-1" role="dialog")#ephimovEl
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Ефимов Александр Владимирович
				p Главный врач клиники, врач высшей категории, заслуженный работник здравоохранения. С 1994г. является директором "Клиники доктора Ефимова"
a.doctors_certs.hidden(href="img/d_c/eph_el_2.jpg", data-fancybox="eph_el")
a.doctors_certs.hidden(href="img/d_c/eph_el_3.jpg", data-fancybox="eph_el")
//- Ефимов мл.
.modal.fade(tabindex="-1" role="dialog")#ephimovJr
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Ефимов Владислав Александрович
				p Окончил ординатуру ТГМА в 1999г по специальности неврология, ординатура по мануальной терапии в ИГМИ в 2003г , ИОМ в СПб 2010г по специальности остеопатия.
				h4 Специализируется на лечении:
				ul
					li - заболевания опорно-двигательного аппарата,
					li - спортивные травмы,
					li - восстановление после переломов конечностей и позвоночника,
					li - заболевания внутренних органов.
					li - лечение суставов,
					li - черепно-мозговые травмы,
					li - остеопатическое сопровождение беременных,
					li - ранний послеродовой период,
					li - задержки развития детей,
					li - коррекция поведения,
					li - коррекция осанки,
					li - лечение ВСД,
					li - головные боли
a.doctors_certs.hidden(href="img/d_c/eph_jr_2.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_3.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_4.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_5.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_6.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_7.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_8.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_9.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_10.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_11.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_12.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_13.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_14.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_15.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_16.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_17.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_18.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_19.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_20.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_21.jpg", data-fancybox="eph_jr")
a.doctors_certs.hidden(href="img/d_c/eph_jr_22.jpg", data-fancybox="eph_jr")
//- Морозов
.modal.fade(tabindex="-1" role="dialog")#morozov
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Морозов Юрий Николаевич
				p Врач травматолог, мануальный терапевт. плоскостопие, нарушение осанки, сколиоз и др.
				p Проблемы уха, горла, носа, глаз, различные нарушения речи, последствия производственных травм, нагрузок, вынужденных поз на производстве, профессиональные заболевания, ведение спортсменов в подготовке к соревнованиям, во время и после них. востановление после травм, контузий, ранений и отравлений военнослужащих
a.doctors_certs.hidden(href="img/d_c/morozov_2.jpg", data-fancybox="morozov")
a.doctors_certs.hidden(href="img/d_c/morozov_3.jpg", data-fancybox="morozov")
a.doctors_certs.hidden(href="img/d_c/morozov_4.jpg", data-fancybox="morozov")
//- Постнова
.modal.fade(tabindex="-1" role="dialog")#postnova
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Постнова Анжела Олеговна 
				p Врач невролог, врач гирудотерапевт. Специализация:
				ul
					li лечении острого и хронического болевого синдрома;
					li реабилитация после переломов и травм;
					li эффективное восстановление после инсультов.
					li специалист по ВТЭС;
					li и др.
				p Окончила ординатуру ТГМА в 2013 году по специальности неврология, специализация по применению медицинских пиявок в народной медицине и оздоровлении в 2015 году
a.doctors_certs.hidden(href="img/d_c/postnova_2.jpg", data-fancybox="postnova")
a.doctors_certs.hidden(href="img/d_c/postnova_3.jpg", data-fancybox="postnova")
a.doctors_certs.hidden(href="img/d_c/postnova_4.jpg", data-fancybox="postnova")
a.doctors_certs.hidden(href="img/d_c/postnova_5.jpg", data-fancybox="postnova")
a.doctors_certs.hidden(href="img/d_c/postnova_6.jpg", data-fancybox="postnova")
a.doctors_certs.hidden(href="img/d_c/postnova_7.jpg", data-fancybox="postnova")
a.doctors_certs.hidden(href="img/d_c/postnova_8.jpg", data-fancybox="postnova")
//- Колпакова
.modal.fade(tabindex="-1" role="dialog")#kolpakova
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Колпакова Ирина Александровна
				p Врач-невролог, рефлексотерапевт
				p Окончила ординатуру ТГМА в 2011г по специальности «Неврология», курс повышения квалификации на кафедре «Детская неврология»  КГМА (г. Казань) в  2016г.
				p Прошла обучение по рефлексотерапии в ТГМА в 2012г , Тематическое усовершенствование по теме «Вертебрология детского и подросткового возраста с нейроортопедическими симптомокомплексами» ТГМА 2011г, Тематическое усовершенствование по теме «Речевые нарушения у детей» 2016г «Бонвина» г. Пермь 
				p Врач специализируется на лечении рефлексотерапией, ведет прием детей с речевыми  нарушениями, последствиями перинатальных травм у детей; лечением и реабилитацией взрослого населения после инсультов и травм, заболеваний позвоночника, хронических сосудистых нарушений головного мозга
a.doctors_certs.hidden(href="img/d_c/kolpakova_2.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_3.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_4.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_5.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_6.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_7.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_8.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_9.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_10.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_11.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_12.jpg", data-fancybox="kolpakova")
a.doctors_certs.hidden(href="img/d_c/kolpakova_13.jpg", data-fancybox="kolpakova")
//- Наумкин
.modal.fade(tabindex="-1" role="dialog")#naumkin
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Наумкин Андрей Николаевич
				p Фельдшер, массажист
				ul
					li классический массаж
					li спортивный массаж 
					li точечный массаж
					li устранение тригерных точек
				p В 2005г окончил Тюменский Медицинский Колледж, факультет лечебное дело, специализация фельдшер. Тогда же получил дополнительное образование по специальности медицинский массаж
				p Для улучшения профессиональных навыков закончил курсы повышения кввалификации в 2009г и 2014г по специальности « Лечебный массаж»
				p В 2011г закончил Тюменский государственный университет по специализации «Клиническая психология», сочетание массажа и психологических приемов позволяют добиться наибольших результатов в оказании помощи пациентам. Дополнительно изучил  методики проведения антицеллюлитного и лимфодренажного массажа
//- Борисов
.modal.fade(tabindex="-1" role="dialog")#borisov
	.modal-dialog(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true") &times;
			.modal-body.doctor_about
				h4 Борисов Сергей Петрович
				p Массажист
a.doctors_certs.hidden(href="img/d_c/borisov_2.jpg", data-fancybox="borisov")
a.doctors_certs.hidden(href="img/d_c/borisov_3.jpg", data-fancybox="borisov")
a.doctors_certs.hidden(href="img/d_c/borisov_4.jpg", data-fancybox="borisov")
a.doctors_certs.hidden(href="img/d_c/borisov_5.jpg", data-fancybox="borisov")
a.doctors_certs.hidden(href="img/d_c/borisov_6.jpg", data-fancybox="borisov")
a.doctors_certs.hidden(href="img/d_c/borisov_7.jpg", data-fancybox="borisov")
