mixin tiles(img_w, h4, text, href)
	.tile
		img(src= img_w, alt= h4)
		h4= h4
		p= text
		a.button(href="category.html", target="_blank") Узнать больше
#kinds
	.row
		.col-md-4
			+tiles('img/manual-therapy.jpg', 'Мануальная терапия', 'В настоящее время мануальная терапия позвоночника считается довольно эффективным методом лечения многих болезней...', '#')
		.col-md-4
			+tiles('img/massage.jpg','Лечебный массаж','Массаж, который возвращает здоровье и красоту. Лечебный массаж...', '#')
		.col-md-4
			+tiles('img/orthopedic_treatment.jpg','Остеопатическое лечение',' Новая, постоянно развивающаяся специальность, она постоянно совершенствуется, открывает новые научные горизонты...', '#')
	.row
		.col-md-4
			+tiles('img/kinesiotaping.jpg','Кинезиотейпирование','Это революционный метод лечения, разработанный японским доктором Кензо Касе...', '#')
		.col-md-4
			+tiles('img/acupuncture.jpg','Иглорефлексотерапия',' Один из самых древних и в то же время современных методов лечения болезней...', '#')
		.col-md-4
			+tiles('img/interstitial.jpg','Внутритканевая  электростимуляция','Новое направление в лечении болевых синдромов', '#')
	.row
		.col-md-4
			+tiles('img/hirudotherapy.jpg','Гирудотерапия','Богатейшая история использования медицинских пиявок в лечебных целях...', '#')
		.col-md-4
			+tiles('img/trigger_points.jpg','Лечение триггерных точек','Триггерная точка это точка,  которая проецирует отраженную боль...', '#')
		.col-md-4
			+tiles('img/drug_blockade.jpg','Медикаментозные блокады','Современный эффективный метод лечения болевого синдрома и неврологических заболеваний...', '#')