section#logos
    .container
        .row
            .col-md-2
                .wrap
                    img(src="img/logos_1.png", alt="Логотип Формтотикс")
            .col-md-2
                .wrap
                    img(src="img/logos_2.png", alt="Логотип Технологии здоровья")
            .col-md-2
                .wrap
                    img(src="img/logos_3.png", alt="Логотип Институт остеопатической медицыны")
            .col-md-2
                .wrap
                    img(src="img/logos_4.png", alt="Логотип Redox")
            .col-md-2
                .wrap
                    img(src="img/logos_5.png", alt="Логотип Подиатр")
            .col-md-2
                .wrap
                    img(src="img/logos_6.png", alt="Логотип Остеопатия России")