#first_screen
    header#header
        .container
            a(href="/")
                img(src="img/logo.png", alt="Логотип")
            .contact_info
                .schedule
                    i.fa.fa-clock-o(aria-hidden="true")
                    .content
                        p
                            strong Режим работы:
                            span Буд. 9:00 - 20:00
                            span Сб 9:00 - 14:00
                            span Вс - выходной
                .phones
                    i.fa.fa-phone(aria-hidden="true")
                    .content
                        p
                            strong Телефон:
                            span 
                                a(href="callto:83452627117") 8 (3452) 62-71-17
                            span 
                                a(href="callto:83452635080") 8 (3452) 63-50-80
                .soc_groups
                    i.fa.fa-vk(aria-hidden="true")
                    .content
                        p
                            strong Задать вопрос:
                            span группа
                            span
                                a(href="http://vk.com/klinikaefimova" target="_blank") ВКонтакте
            .clearfix
    section#first_section
        .container
            img(src="img/ephimov_main.png", alt="Владислав Ефимов" id="ephimov_main")
            .heading
                h1 Клиника доктора ЕФИМОВА
                h2 Остеопатия, мануальная терапия, массаж, педиатрия, гирудотерапия
                p.cta Оставьте свой номер телефона и в течении 5 минут с Вами свяжется наш специалист
                button.button.main_button(data-toggle="modal" data-target="#myModalForm") получить консультацию бесплатно
            .clearfix