section#numbers
    .container
        .row
            .col-md-3
                +numbers('first','23','года помощи людям')
            .col-md-3
                +numbers('second','1 500','пациентов в год')
            .col-md-3
                +numbers('third','11','практикующих врачей')
            .col-md-3
                +numbers('fourth','20 000','благодарных пациентов')