#spec_tabs
    #tabs
        ul.tab_links
            li
                a(href="#tabs-1") Неврология
            li
                a(href="#tabs-2") Сосуды
            li
                a(href="#tabs-3") Ортопедия
            li
                a(href="#tabs-4") Педиатрия
        #tabs-1
            img(src="img/neurology.jpg", alt="Неврология" class="tab_img")
            +ul_list('tab_ul','Боли в позвоночнике', 'Головные боли', 'Боли в суставах', 'Нарушение чувствительности', 'Слабость в конечностях', 'Шаткость походки', 'Асимметрия лица', 'Мышечные боли')
        #tabs-2
            img(src="img/vascular.jpg", alt="Сосуды" class="tab_img")
            +ul_list('tab_ul','Головокружение', 'Головные боли', 'Шум в ушах', 'Снижение памяти', 'Слабость в конечностях', 'Ознобление ног')
        #tabs-3
            img(src="img/orthopedy.jpg", alt="Ортопедия" class="tab_img")
            +ul_list('tab_ul','Натоптыши', 'Плоскостопие', 'Нарушение осанки', 'Кривошея', 'Дисплазия тазобедренного сустава')
        #tabs-4
            img(src="img/pediatry.jpg", alt="Педиатрия" class="tab_img")
            +ul_list('tab_ul','Плохой сон', 'Срыгивания', 'Икоты', 'Деформация головы', 'Кривошея', 'Гиперактивность', 'Задержка физического и психического развития', 'Колики')
    p Услуги оказываются на самом высоком уровне 
        br 
        | под контролем профессионалов