mixin testims(text, name, date,id)
	.crsl-item.col-md-4
		.item
			img(src="img/stars.jpg", alt="Звезды")
			p.testimonial(id= id)= text
			.req
				p.name= name
				p.date= date

section#testimonials
	.container
		h3 Отзывы
		p Ежегодно мы помогаем тысячам пациентам
			br 
			| восстановить свое здоровье
		#testimonials_slider.risons-crsl-items(data-navigation="navbtns")
			.slider_container.crsl-wrap.row
				+testims('Прекрасный центр, отличные специалисты и не просто специалисты, а люди с душой и индивидуальным подходом к каждому пациенту. И я думаю это главно подход с душой к каждому пациенту и это лечение не просто плоти, но и помощь своего рода задуматься отчего это пошло и есть возможность всё исправить самому', 'Ярослав','09/23/2013 - 06:53')
				+testims('Я после 5 сеансов, слава богу забыла о боли в пояснице. Спасибо Ефимову-старшему. Ну и вообще как человек он очень воспитанный и имеет свое мнение, а не навеянное какими-то "распространителями"', 'Тима','04/17/2015 - 14:08')
				+testims('Советую всем на первый прием попасть сразу к доктору Ефимову! (если я правильно понимаю, он со второй половины дня работает). Этот человек мастер своего дела! После первого же сеанса мой нагруженный, искривленный позвоночник выпрямился! Подход ОЧЕНЬ профессиональный, и результат - что самое главное!', 'Sнeжnоstь','04/17/2015 - 14:10')
				+testims('Спасибо, подняли на ноги, с шутками и заботой. Особенно злила шутка про топор, если б не она наверно сдался. Еще раз спасибо!!!!', 'Алексей','05/02/2014 - 15:15')
				+testims('Обращалась в клинику на Луначарского по поводу осанки ребенка и своего остеохондроза. Попали на прием к Ефимову В.А. (который младше) Понравилось. Плюсы: Врач легко общается и с дитем и со взрослым. Если спрашиваешь зачем нужна та или эта процедура доступно объясняет. Не спрашиваешь- медицинскими терминами не грузит. Жалобы выслушивает все, даже смешные, на которые в муниципальных клиниках внимания не обращают. Ничего не навязывает. Возле регистратуры на витрине куча всяких целебно-массажных прибамбасов, но советов типа "Купи и излечишься" никто мне не давал. Процедуры помогают. При этом цены доступные. Встречаю там даже бабулей очень пенсионного возраста, видимо могут себе позволить. Еще один плюс: возле здания есть карман для парковки. Не понравилось: нет терминала. Приходится по пути искать банкоматы', 'solg','04/17/2015 - 14:05', 'high')
				+testims('тоже проходила сеанс лечения иголок и массаж. Все понравилось, результат особенно, рекомендую!!!', 'тарабышка','04/17/2015 - 14:00')
				+testims('Замечательная клиника. Единственное место, где смогли решить мою проблему: болел сустав, везде, соответственно, лечили его, хотя на МРТ он был чистый, и только здесь обнаружили изначальную проблему в позвоночнике и избавили меня от боли за несколько сеансов иголок с электричеством.', 'Boris','10/05/2015 - 14:09')
			nav.slidernav
				#navbtns.clearfix
					a(href="javascript:void(0);" class="previous") &larr; Назад
					a(href="javascript:void(0);" class="next") Вперед &rarr;
