section#we_heal
    .container
        h3 Что мы лечим?
        p Наша задача найти причину и разработать  индивидуальный план 
            br 
            | лечения в конкретном случае
        .row
            .col-md-4
                +heal_it('first','Головные боли, головокружение')
            .col-md-4
                +heal_it('second','Боли в области позвоночника, грыжа диска')
            .col-md-4
                +heal_it('third','Боли в суставах, пяточная шпора')
        .row
            .col-md-4
                +heal_it('fourth','Переломы позвоночника, кистей верхних и нижних конечностей')
            .col-md-4
                +heal_it('fifth','Энурез, заболевания кожи, глаз')
            .col-md-4
                +heal_it('sixth','Заболевания сердечно-сосудистой системы')
        .row
            .col-md-4
                +heal_it('seventh','Заболевания желудочно-кишечного тракта')
            .col-md-4
                +heal_it('eighth','Сколиоз позвоночника, бронхиальная астма')
            .col-md-4
                +heal_it('ninth','Остеопатическое сопровождение беременности')
        .row
            .col-md-4
                +heal_it('tenth','Проводим реабилитацию после операции на позвоночнике')
            .col-md-4
                +heal_it('eleventh','Лечение зависимостей (пищевой, никотиновой, алкогольной)')
            .col-md-4
                +heal_it('twelfth','Коррекция поведения у детей (гиперактивность), ВСД, ДЦП')