#about_vk
    background-color: green 
    padding: 55px 0
    overflow hidden
    margin-top: 40px
    p
        color: #fff
        font-family: 'OpenSansBold', sans-serif
        font-size: 22px
        line-height: 31px
        float left
        width: 70%
        margin-left: 9px;
    a
        float: left
        margin-left: 68px;
        .fa-vk
            color: #fff
            font-size: 160px
            line-height: 93px