.clinic_caption
    margin-top: 80px
.video_wrapper
    width 100%
    margin: 0 auto
    position relative
    &:before
        content: '';
        display: block;
        height 0
        padding-top: 56.25%
    img,
    iframe
        position absolute
        width 100%
        height 100%
        top: 0
        left: 0
        cursor pointer
#advantages
    h4
        font-size: 24px;
        font-family: "OpenSansBold", sans-serif;
        color: green
        line-height: 1.2;
        text-align: right;
        border-right: 3px solid green
        padding-right: 13px
        width: 80%
        float: right
        margin-bottom: 9px
.advantages_caption
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: p_black
    line-height: 1.5;
    text-align: right;
    padding-right: 18px
    width: 90%
    float right
    clear right
.adv_icon
    height: 25px
    margin: 10px auto 4px
    background-image url(../img/sprite_4.png)
    background-repeat: no-repeat
    & + p
        font-size: 12px;
        font-family: "OpenSansBold", sans-serif;
        color: green
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
.adv_icon.first
    width 21px
    background-position 0 0
.adv_icon.second
    width 17px
    background-position-x -21px
.adv_icon.third
    width 27px
    background-position-x -38px