#doctors_container
    margin-top: 85px
.doctor
    border-radius: 5px;
    background-color: grey
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    height: 350px;
    margin-bottom: 60px
    text-align: center
    position: relative
    img
        width 100%
    h5
        font-size: 16px;
        font-family: "OpenSansBold", sans-serif;
        color: h3_color
        font-weight: bold;
        margin: 14px 0
        min-height: 38px
        line-height: 1.2
    p
        font-size: 14px;
        font-family: "OpenSansItalic", sans-serif;
        color: green
        padding: 0 20px
.more_buttons
    position absolute
    bottom: 10px
    left: 0
    right: 0
    .more_about,
    .doctors_certs
        background-color: transparent
        border: none
        margin: 0 3px
        display inline-block
        color: p_black
        border-bottom: 1px dotted
        font-size: 14px
#licenses
    margin-top: 54px
    h3
        text-align: left
        margin-top: 0
        &:after
            margin: 0
    .col-md-6 img 
        width 100%
    .button
        float: none
.license_caption
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: p_black
    line-height: 1.5;
    text-align: left;
    margin-top: 35px
    &:after
        content: ''
        display block
        width: 165px
        height: 3px
        background-color: green
        margin: 42px 0 35px
.mb
    margin-bottom: 40px
.doctor_about
    h4
        margin-bottom: 20px
    li
        font-family: "OpenSans", sans-serif;
        margin-bottom: 10px
        margin-left: 25px
    p
        margin-bottom: 20px