#first_section
    min-height: 175px
    overflow: hidden
    padding-bottom: 25px
    .container
        position relative
.heading
    // overflow hidden
    // float: right
    text-align: right
    position relative
    z-index: 1
#ephimov_main
    position absolute
    bottom: -27px
    left: -89px
    z-index: 0
.cta
    display: inline-block
    font-family: "OpenSansSemibold", sans-serif
    font-size: 15px
    text-align: center
    color: #6B6C6C
    background-color: #fdfefe
    border-radius: 50px
    width: 358px
    padding: 12px 48px
    margin-bottom: 18px
    line-height: 1.2
    float: right
    clear: right
.main_button
    border-radius: 50px
    font-size: 15px
    display: inline-block
    width: 358px
    padding: 20px 0px
    margin-bottom: 20px
    float: right
    clear: right
    &:hover
        border-radius: 50px
.button.button_price
    background-image: none;
    background-color: #5A5C5C;
    border: 0;
    color: #fff;
    &:hover
        background-color: #2e2f2f;