#location
    overflow hidden
    .col-sm-6:first-child
        padding: 0
.contact_form
    border: 3px solid green
    padding: 30px 40px
    margin: 100px auto 0
    width: 450px
    h4
        font-size: 18px;
        font-family: "OpenSansBold",sans-serif;
        color: green
        text-transform: uppercase;
        line-height: 1.389;
        text-align: left;
        margin-bottom: 13px
        &:before
            content: url(../img/rec.jpg)
            margin-right: 20px
    .calendar
        float: left
        margin-right: 57px
    .select
        border: 1px solid #b3b3b3
        border-radius: 19px;
        margin-bottom: 16px
        color: grey
        font-size: 14px;
        font-family: "OpenSansLight", sans-serif;
        color: #969a98
        height: 40px
        line-height: 40px
        position relative
        overflow hidden
        &:after
            content: url('../img/select.png')
            background-color: #fff 
            height: 46px;		
            width: 22px;
            position: absolute;		
            right: 0px;
            top: -3px;
            bottom: 0;
            z-index: 150;	
    .select.month
        width: 150px
        float left

    .select.day
        width: 100px
        margin-left: 17px
        float: right


    input
    textarea
        border: 1px solid #b3b3b3
        border-radius: 19px;
        padding: 0 20px
        margin-bottom: 16px
        color: grey
        font-size: 14px;
        font-family: "OpenSansLight", sans-serif;
        color: #969a98
        height: 40px
        line-height: 40px
    select
        position: relative;		
        background: none;	
        z-index: 100;
        border: 2px solid transparent
        padding: 0 0 0 20px
        width: 110%
    input
    textarea
        width: 100%
    textarea
        min-height: 100px
        clear: both
        line-height: 16px
        padding: 7px 20px
    .button
        display block
        margin: 5px auto 0
        font-size: 17px;
        width: 200px