@media screen and (max-width: 1199px)
	#logo
		img
			width 20%
	.contact_info
		padding-top: 11px
	#ephimov_main
		width 70%
	h1
		font-size: 32px;
		width: auto;
		padding: 10px 30px;
	h2
		font-size: 22px
		width: 546px;
		margin-bottom: 40px;
	.tile
		height: 500px
	.why_tile
		width: 215px;
		p
			line-height: 1;
	.why_icon
		margin-bottom: 5px
	.adress_buttons
		margin-top: 35px
	.problem
		width 100%
		p
			line-height: 1.2
	.clinic_caption
		.video_wrapper
			margin-top: 10px
	#advantages h4
		width 100%
		margin-bottom: 3px;
	.advantages_caption
		line-height: 1.2
		width 100%
	.adv_icon + p
		font-size: 10px
	.slider_container .item
		height 350px
	#high
		height: 240px
	#logos
		.col-md-2
			width 33.33334%
	.wrap
		img
			display: block;
			margin: 0 auto;
	.up
		right: 10px
@media screen and (max-width: 991px)
	.contact_info
		padding-top: 5px
	.phones, .schedule, .soc_groups
		margin-left: 22px;
	.phones .fa, .schedule .fa, .soc_groups .fa
		position: relative;
		left: -5px;
	.content
		float: right
		strong
			padding-bottom: 4px
		span
			line-height: 1.2
			font-size: 12px
	.phones .fa, .schedule .fa, .soc_groups .fa
		font-size: 20px
		width: 36px;
	h1
		margin: 40px auto
		display: block;
		float: none;
	h2
		width: 505px;
		padding: 7px 10px;
	#ephimov_main
		left: -125px
		bottom: -23px
	#spec_tabs
		width 100%
	#tabs div
		margin-top: 20px
	.tab_ul
		padding: 20px 0 0 50px;
	.tab_links li
		width 48%
		padding: 10px
		margin-bottom: 10px