@media screen and (max-width: 1199px)
	#logo
		img
			width 20%
	.contact_info
		padding-top: 11px
	#ephimov_main
		width 70%
	h1
		font-size: 32px;
		width: auto;
		padding: 10px 30px;
	h2
		font-size: 22px
		width: 546px;
		margin-bottom: 40px;
	.tile
		height: 500px
		h4
			font-size: 22px;
	.why_tile
		width: 215px;
		p
			line-height: 1;
	.why_icon
		margin-bottom: 5px
	.adress_buttons
		margin-top: 35px
	.problem
		width 100%
		p
			line-height: 1.2
	.clinic_caption
		.video_wrapper
			margin-top: 10px
	#advantages h4
		width 100%
		margin-bottom: 3px;
	#licenses
		.button
			float: none
	.advantages_caption
		line-height: 1.2
		width 100%
	.adv_icon + p
		font-size: 10px
	.slider_container .item
		height 350px
	#high
		height: 240px
	#logos
		.col-md-2
			width 33.33334%
	.wrap
		img
			display: block;
			margin: 0 auto;
	.up
		right: 10px
@media screen and (max-width: 991px)
	.contact_info
		padding-top: 5px
	.phones, .schedule, .soc_groups
		margin-left: 22px;
	.phones .fa, .schedule .fa, .soc_groups .fa
		position: relative;
		left: -5px;
	.content
		float: right
		strong
			padding-bottom: 4px
		span
			line-height: 1.2
			font-size: 12px
	.phones .fa, .schedule .fa, .soc_groups .fa
		font-size: 20px
		width: 36px;
	h1
		margin: 40px auto
		display: block;
		float: none;
	h2
		width: 505px;
		padding: 7px 10px;
	#ephimov_main
		left: -125px
		bottom: -23px
	#spec_tabs
		width 100%
	#tabs div
		margin-top: 20px
	.tab_ul
		padding: 20px 0 0 50px;
	.tab_links li
		width 48%
		padding: 10px
		margin-bottom: 10px
	.tile
		height: 435px
		width: 375px
		margin 0 auto 60px
	#welcome
		h3
			text-align: center
			&:after
				margin: 0 auto
		.home_link
			text-align: center
			display: inherit;
			&:after
				margin: 35px auto 0
		.why_title
			text-align: center
		.row.one,
		.row.two
			width: 490px
			margin 0 auto
			clear: both
			.col-md-6
				float left
	#welcome_slider
		margin-top: 40px
	.small
		.col-md-3
			width: 25%
			float left
	.adress_buttons
		margin-top: 0
	#numbers
		padding: 70px 0 45px;
		.col-md-3
			width: 50%
			float left
			margin-bottom: 25px
	#we_heal
		.col-md-4
			width: 33.33334%
			float left
	.problem
		height: 222px
		.icon_wrapper
			display block
			width: 68px
			margin 0 auto 20px
		p
			display block
			text-align: center
	#about_vk p
		width: 460px
	#about_vk a .fa-vk
		line-height: 143px
	#doctors_container
		.col-md-3
			width: 50%
			float left
			.doctor
				width: 265px
				margin 0 auto 40px
	#licenses
		h3
			text-align: center
			&:after
				margin: 0 auto
	.license_caption
		text-align: center
		&:after
			margin: 42px auto 35px;
	#licenses
		.adress
			h5
				text-align: center
			p
				display block
				text-align: center
			.button
				margin: 35px auto 0
				width: 215px
				display block
	#certs
		.main
			width: 50%
			margin 40px auto
		.sub
			.row
				width: 50%
				float left
				margin: 0 auto
				.col-md-6
					width: 50%
					float left
	.clinic_caption
		.col-md-4:nth-of-type(1)
		.col-md-4:nth-of-type(2)
			width: 50%
			float left
		.col-md-4:nth-of-type(3)
			margin 40px auto 0
			width: 100%
			clear both
			overflow hidden
			text-align: center
	#advantages h4
		float none
		text-align: center
		border: 0
		padding-top: 40px
	.advantages_caption
		padding: 20px 0
		clear both
		text-align: center
	#adv_cols
		.col-md-4
			width: 33.33334%
			float left
			clear: initial
			margin: 0 auto
	#photo_gallery
		.col-md-2
		.col-md-3
			width: 33.33334%
			float left
	#logos .col-md-2
		width: 33.33334%
		float left
	#location .col-sm-6
		width 100%
		float none
	#map
		height: 350px
		overflow hidden
	.contact_form
		margin 50px auto
@media screen and (max-width: 750px)
	#logo
		float left
		img
			width 100%
	.contact_info
		width: 369px
	.phones, .schedule, .soc_groups
		margin-left: 10px;
		width: 100%;
	.phones .fa, .schedule .fa, .soc_groups .fa
		margin-left: 45px;
		float left
	.content
		float left
		p
			overflow hidden
		span
			float: left;
			margin-right: 5px;