@media screen and (max-width: 1199px)
	#logo
		img
			width 20%
	.contact_info
		padding-top: 11px
	#ephimov_main
		width 70%
	h1
		font-size: 32px;
		width: auto;
		padding: 10px 30px;
	h2
		font-size: 22px
		width: 546px;
		margin-bottom: 40px;
	.tile
		height: 500px
		h4
			font-size: 22px;
	.why_tile
		width: 215px;
		p
			line-height: 1;
	.why_icon
		margin-bottom: 5px
	.adress_buttons
		margin-top: 35px
	.problem
		width 100%
		p
			line-height: 1.2
	.clinic_caption
		.video_wrapper
			margin-top: 10px
	#advantages h4
		width 100%
		margin-bottom: 3px;
	#licenses
		.button
			float: none
	.advantages_caption
		line-height: 1.2
		width 100%
	.adv_icon + p
		font-size: 10px
	.slider_container .item
		height 350px
	#high
		height: 240px
	#logos
		.col-md-2
			width 33.33334%
	.wrap
		img
			display: block;
			margin: 0 auto;
	.up
		right: 10px
@media screen and (max-width: 991px)
	.contact_info
		padding-top: 5px
	.phones, .schedule, .soc_groups
		margin-left: 22px;
	.phones .fa, .schedule .fa, .soc_groups .fa
		position: relative;
		left: -5px;
	.content
		float: right
		strong
			padding-bottom: 4px
		span
			line-height: 1.2
			font-size: 12px
	.phones .fa, .schedule .fa, .soc_groups .fa
		font-size: 20px
		width: 36px;
	h1
		margin: 40px auto
		display: block;
		float: none;
	h2
		width: 505px;
		padding: 7px 10px;
	#ephimov_main
		left: -125px
		bottom: -23px
	#spec_tabs
		width 100%
	#tabs div
		margin-top: 20px
	.tab_ul
		padding: 20px 0 0 50px;
	.tab_links li
		width 48%
		padding: 10px
		margin-bottom: 10px
	.tile
		height: 435px
		width: 375px
		margin 0 auto 60px
	#welcome
		h3
			text-align: center
			&:after
				margin: 0 auto
		.home_link
			text-align: center
			display: inherit;
			&:after
				margin: 35px auto 0
		.why_title
			text-align: center
		.row.one,
		.row.two
			width: 490px
			margin 0 auto
			clear: both
			.col-md-6
				float left
	#welcome_slider
		margin-top: 40px
	.small
		.col-md-3
			width: 25%
			float left
	.adress_buttons
		margin-top: 0
	#numbers
		padding: 70px 0 45px;
		.col-md-3
			width: 50%
			float left
			margin-bottom: 25px
	#we_heal
		.col-md-4
			width: 33.33334%
			float left
	.problem
		height: 222px
		.icon_wrapper
			display block
			width: 68px
			margin 0 auto 20px
		p
			display block
			text-align: center
	#about_vk p
		width: 460px
	#about_vk a .fa-vk
		line-height: 143px
	#doctors_container
		.col-md-3
			width: 50%
			float left
			.doctor
				width: 265px
				margin 0 auto 40px
	#licenses
		h3
			text-align: center
			&:after
				margin: 0 auto
	.license_caption
		text-align: center
		&:after
			margin: 42px auto 35px;
	#licenses
		.adress
			h5
				text-align: center
			p
				display block
				text-align: center
			.button
				margin: 35px auto 0
				width: 215px
				display block
	#certs
		.main
			width: 50%
			margin 40px auto
		.sub
			.row
				width: 50%
				float left
				margin: 0 auto
				.col-md-6
					width: 50%
					float left
	.clinic_caption
		.col-md-4:nth-of-type(1)
		.col-md-4:nth-of-type(2)
			width: 50%
			float left
		.col-md-4:nth-of-type(3)
			margin 40px auto 0
			width: 100%
			clear both
			overflow hidden
			text-align: center
	#advantages h4
		float none
		text-align: center
		border: 0
		padding-top: 40px
	.advantages_caption
		padding: 20px 0
		clear both
		text-align: center
	#adv_cols
		.col-md-4
			width: 33.33334%
			float left
			clear: initial
			margin: 0 auto
	#photo_gallery
		.col-md-2
		.col-md-3
			width: 20%
			float left
	#logos .col-md-2
		width: 33.33334%
		float left
	#location .col-sm-6
		width 100%
		float none
	#map
		height: 350px
		overflow hidden
	.contact_form
		margin 50px auto
	#footer
		br
			display: none
	.soc_buttons
		margin-top: 10px;
@media screen and (max-width: 750px)
	h3
		margin-top: 40px
	#logo
		float left
		img
			width 100%
	.contact_info
		width: 369px
	.phones, .schedule, .soc_groups
		margin-left: 10px;
		width: 100%;
	.phones .fa, .schedule .fa, .soc_groups .fa
		margin-left: 45px;
		float left
	.content
		float left
		p
			overflow hidden
		span
			float: left;
			margin-right: 5px;
	.tab_links li
		margin-bottom: 0
	.ui-state-default.ui-tab.ui-tabs-active.ui-state-active::after, .ui-state-default.ui-tab.ui-tabs-active.ui-state-focus::after
		bottom: -3px;
	.ui-state-default.ui-tab.ui-tabs-active.ui-state-active::before, .ui-state-default.ui-tab.ui-tabs-active.ui-state-focus::before
		bottom: -44px;
	#kinds
		margin-top: 40px
	#about_vk a .fa-vk
		font-size: 100px	
	.tab_img
		display: none
	#tabs div
		height: 200px
	.tab_ul
		float none
		width 100%
	.tab_ul li
		float left
		width 50%
	#we_heal .col-md-4
		width 100%
		float: none
	.problem 
		height: auto
		margin-bottom: 20px;
		.icon_wrapper
			display: table-cell;
		p
			text-align: left
			display: table-cell
	#about_vk
		p
			width 100%
			text-align: center
			float: none
			margin-left: 0
		a
			float: none;
			display: block;
			margin: 0 auto;
			width: 107px;
			.fa-vk
				line-height: 1;
@media screen and (max-width: 640px)
	#header
		.container
			max-height: 150px
	#logo
		width: 150px;
		height: 150px;
		display: flex;
		align-items: center;
	.phones, .schedule, .soc_groups
		margin-bottom: 5px
		margin-left: 0
	.content strong
		font-size: 14px
		padding-bottom: 2px;
	.content span
		line-height: 1
	#ephimov_main
		display: none
	h2
		width: 100%;
		padding: 10px 20px;
		float: none
	.cta,
	.main_button,
	.button.button_price
		display block
		float: none
		margin-left: auto
		margin-right: auto
	#tabs div
		height: auto
	.tab_ul
		padding: 10px 0 0
		li
			width: 43%;
			margin-left: 35px
	#doctors_container .col-md-3
		float: none
		width: 100%
	.slider_container .item
		height: 250px
	#high
		height: 110px
	#logos .col-md-2
		width 50%
@media screen and (max-width: 560px)
	#header
		padding: 5px 0
	#logo
		height: 125px
	.phones .fa, .schedule .fa, .soc_groups .fa
		font-size: 12px;
		width: 28px;
		position: absolute
		top: 0
		left: -32px;
		margin-left: 0;
		float: none
	.content
		width: auto
	.contact_info
		overflow: visible;
		width: 275px
	.phones, .schedule, .soc_groups
		margin-bottom: 5px;
		margin-left: 0;
	.content 
		p
			overflow: visible
			margin-bottom: 5px;
			line-height: 1;
		strong
			padding: 0;
			border: 0;
			display: block;
			margin: 0;
		span
			float: none;
			display: inline;
	#tabs div
		padding: 10px
	.tab_ul li
		width: 100%
		float: none
	.adress h5
		text-align: center
	.adress p
		text-align: center
		br
			display: none
	.adress_buttons
		width: 100%;
		float: none
		.button.button_price
			width: 180px
			margin: 30px auto 10px
			display block
			float: none
		.button_modal
			width: 215px
			margin: 0 auto
			display block
			float: none
	#welcome
		margin-bottom: 35px
		.row.one
		.row.two
			width 100%
			.col-md-6
				width 50%
				.why_tile
					width: 100%
	#numbers .col-md-3
		width: 267px
		float: none
		margin: 0 auto 25px;
@media screen and (max-width: 490px)
	#header .container
		max-height: none
	#logo
		width 30%
		img
			width 100%
	.phones .fa, .schedule .fa, .soc_groups .fa
		display: none
	.clinic_caption
		margin-top: 40px
		.col-md-4:first-of-type,
		.col-md-4:nth-of-type(2)
			width: 100%
			float: none
		.col-md-4:nth-of-type(3)
			margin-top: 0
	.contact_form
		width: 100%
		.calendar
			display: none
		.button
			width: 100%
@media screen and (max-width: 425px)
	#logo
		width: 120px;
		margin: 0 auto;
		float: none;
		display: block;
		height: auto
	.contact_info
		margin 0 auto
		float: none
		width: 310px
	.phones .fa, .schedule .fa, .soc_groups .fa
		display: block
		position: static;
		float: left;
		margin: 2px 5px 0 0;
	h1
		font-size: 26px
		margin-bottom: 15px
	h2
		font-size: 20px
		margin-bottom: 15px
	h3
		margin-top: 30px
		font-size: 24px
	h4
	.why_title
	#advantages h4
		font-size: 20px
	.why_tile p
		font-size: 17px
	#spec_tabs
		margin-top: 20px
	.tile
		width: 96%
		height: auto
		padding-bottom: 30px
		img 
			width: 100%
		h4
			font-size: 20px
		p
			font-size: 16px
		.button
			position: static
			display: block
			margin-top 20px
	.tab_ul li
		font-size: 16px
		line-height: 1
	.tab_links li a
		font-size: 22px
	.ui-state-default.ui-tab.ui-tabs-active.ui-state-active::before, .ui-state-default.ui-tab.ui-tabs-active.ui-state-focus::before
		bottom: -40px
	#welcome
		margin-top: 0
	.small 
		margin-bottom: 20px
		.col-md-3
			width: 50%
			margin-bottom: 20px
	.adress p
	.problem p
		font-size: 16px
	#about_vk p
		font-size: 18px
		line-height: 1.2
	#doctors_container
	#licenses
	#certs
	#testimonials_slider
		margin-top: 40px
	#certs .main
		display: none
	.adv_icon + p
		font-size: 12px
	.slider_container .item
		height: 310px
	#high
		height: 191px;
	#photo_gallery .col-md-2, #photo_gallery .col-md-3
		width: 100%
		float: none
	.slider_container .item
		margin-bottom: 20px
	#map
		height: 300px
	.cta
	.main_button
		width 90%
	.contact_form .select.month
		width: 125px
	.contact_form .select.day
		margin-left: 0
	.tab_ul
		padding: 10px 10px 0 0;
	.tab_ul li
		margin-left: 20px
	#welcome .row.one .col-md-6, #welcome .row.two .col-md-6
		width: 245px
		margin 0 auto
		float: none
	#photo_gallery .col-md-2, #photo_gallery .col-md-3
		height: 250px
	#logos .col-md-2
		width: 100%
		display: block
		margin 0 auto 25px
		height: auto
		float: none
	#logos .col-md-2 .wrap
		display: block
	#certs .sub .row
		width: 100%;
		float: none;
		margin: 0 auto 20px;
@media screen and (max-width: 360px)
	.phones .fa, .schedule .fa, .soc_groups .fa
		display: none
	.contact_info
		width 100%
	h1
		padding: 10px
	#tabs + p
		font-size: 16px
		line-height: 1
	.contact_form .select.month
	.contact_form .select.day
		width 100%
	.contact_form
		padding: 20px
	#we_heal h3 + p
		margin-bottom: 30px
	.adv_icon + p
		font-size: 10px
	#testimonials_slider
		.item
			p
				max-height: 191px
				overflow-y: scroll
	#navbtns
		width 100%
	#photo_gallery h3::after
		margin-bottom: 40px;
	#map
		height: 230px
	.tab_links li a
		font-size: 19px
	.ui-state-default.ui-tab.ui-tabs-active.ui-state-active::before, .ui-state-default.ui-tab.ui-tabs-active.ui-state-focus::before
		bottom: -33px
	.ui-state-default.ui-tab.ui-tabs-active.ui-state-active::after, .ui-state-default.ui-tab.ui-tabs-active.ui-state-focus::after
		bottom: 0