#photo_gallery
	overflow hidden
	h3
		&:after
			margin-bottom:  85px
	// .photos
	// 	width: 1590px
	// 	position: relative
	// 	bottom: 0
	// 	left: 0
	.col-md-3
	.col-md-2
		padding: 0
		background-repeat no-repeat
		background-size: cover
		background-position: center
		height: 301px
	.col-md-3
		width: 22.22222223%
	.col-md-2:first-child
		background-image url(../img/gallery_1.jpg)
		background-position-x: right
	.col-md-3:nth-child(2)
		background-image url(../img/gallery_2.jpg)
	.col-md-3:nth-child(3)
		background-image url(../img/gallery_3.jpg)
	.col-md-3:nth-child(4)
		background-image url(../img/gallery_4.jpg)
	.col-md-2:last-child
		background-image url(../img/gallery_5.jpg)
		background-position-x: left