#welcome
    margin: 35px 0 80px
    overflow hidden
    h3
        text-align: left
        margin 0 0 42px
        &:after
            margin: 0

.home_link
    font-family: 'OpenSans', sans-serif
    font-size: 18px
    line-height: 27px
    color: p_black
    &:after
        content: ''
        background-color: green 
        height 3px
        width: 165px
        display: block
        margin-top: 35px
.why_title
    color: green 
    font-family: 'OpenSansBold',sans-serif
    font-weight: bold
    font-size: 24px
    text-align: left
    margin: 33px 0 50px
.why_tile
    background-color: grey 
    width: 263px
    height 160px
    border-radius: 5px
    text-align: center
    margin: 0 auto 20px
    p
        font-family: 'RobotoBold', sans-serif
        font-size: 22px
.why_icon
    display: inline-block
    width: 68px
    height: 68px
    margin:  20px auto 12px
    background-image: url(../img/sprite_2.png)
    background-repeat no-repeat 
    background-position 0 0
.second_icon
    background-position: -68px 0
.third_icon
    background-position: 0 -68px
.fourth_icon
    background-position: -68px -68px
.big 
    margin-bottom: 30px
    img
        width: 100%
.small
    margin-bottom: 60px
    overflow hidden
    a
        img
            width: 100%
.adress
    overflow hidden
    h5
        font-family: 'RobotoBold',sans-serif
        font-size: 18px
        margin-bottom: 18px
        color: h3_color
    p
        font-family: 'RobotoRegular',sans-serif
        font-size: 18px
        color p_black
        display: inline-block
    .button
        margin-top: -38px
        float right